@font-face {
    font-family: "SometypeMono";
    src: url(../../assets/fonts/SometypeMono-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SometypeMono";
    src: url(../../assets/fonts/SometypeMono-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SometypeMono";
    src: url(../../assets/fonts/SometypeMono-Medium.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.font--normal {
    font-family: "SometypeMono";
    font-size: 2em;
    line-height: 1em;
    font-weight: 400;
}