//PRIMARY COLOR
$FinanceFusion-MidnightNavy: #2C3E50;

//SECONDARY COLOR
$FinanceFusion-CoolWhite: #ECF0F1;

//ACCENT
$FinanceFusion-WarmGold: #F39C12;
$FinanceFusion-DarkGray: #BDC3C7;

//HEADER
$headerLogoSize: 10em;

//MOBILE TEXT STYLES
$mobilePageHeader: 1.5em;
$mobileSectionHeader: 7vw;
$mobileSubheader: 0.8125em;
$mobileComment: 1em;
$mobileVideoTitle: 2.75vw;
$mobileVideoUploadTitle: 1.75em;
$mobileVideoUploadSubTitles: 0.90em;

//text-weight regular
$mobileBodyCopy: 0.8125em;
$mobileLabels-Buttons: 1em;
$mobileVideoText: 3.5vw;

//DESKTOP & TABLET TEXT STYLES
$tabletSectionHeader: 2em;
$dtPageHeader: 2.0625em;
$desktopSectionHeader: 2.5vw;
$dtSubheader: 0.875em;
$dtBodyCopy: 0.875em;
$dtLabels-Buttons: 0.9em;
$tabletVideoTitle: 1.75vw;
$desktopVideoTitle: 0.8vw;
$tabletVideoText: 2.5vw;
$desktopVideoText: 1.25vw;
$desktopSubheader: 1em;
$tabletVideoUploadTitle: 2.25em;
$desktopVideoUploadTitle: 2.25em;
$tabletVideoUploadSubTitles: 1.25em;
$desktopVideoUploadSubTitles: 1.25em;