@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.footer{
    display: flex;
    flex-direction: column;
    background-color: $FinanceFusion-MidnightNavy;
    color: $FinanceFusion-CoolWhite;
    height: 7.5em;

    @include tablet {
        flex-direction: row;
        height: 12em;
    }
    &--spacer{
        padding-right: 1em;
    }
    &--title{
        padding-bottom: 0.5em;
        @include tablet{
            font-size: 2em;
        }
    }
    &--text{
        padding-top: 0.75em;
        font-size: 0.75em;
        @include tablet{
            font-size: 1.25em;
        }
    }
    &__holder{
        display: flex;
        &--logo{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__link{
        color: $FinanceFusion-CoolWhite;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__logo{
        width: 2.5em;
        &--name{
            padding-top: 0.75em;
            padding-left: 0.5em;
        }
    }
    &--btn{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 1em;
    }
    &--icon{
        @include tablet{
            width: 2em; 
       height: 2em;
        }
       
    }
}