@use "../../styles/partials/mixins" as *;

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 10px;
    @include tablet {
        width: 50%;
    }
}