@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: $FinanceFusion-MidnightNavy;
    color: $FinanceFusion-CoolWhite;
    height: 7em;

    @include tablet {
        flex-direction: row;
    }
    &__holder{
        &--logo{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__link{
        color: $FinanceFusion-CoolWhite;
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        &--active{
            color: $FinanceFusion-WarmGold;
        }
        @include tablet{
            justify-content: left;
        }
    }
    &__logo{
        width: 2.5em;
        &--name{
            padding-top: 0.75em;
            padding-left: 0.5em;
            @include tablet{
                padding-top: 0.25em;
                font-size: 2em;
            }
        }
        @include tablet{
            width: 3em;
        }
    }
    &--btn{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 1em;
        @include tablet{
            width: 50%;
            padding-bottom: 0px;
        }
    }
}