@use "../../styles/partials/mixins" as *;

.profile{
    &__icon{
        position: relative;
        top: 7px;
        right: 5px;
    }
    &__holder{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 0.9em;
        &__listStyle{
            list-style-type: none;
        }
        &--main{
        @include tablet{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 2em;
        }
        @include desktop{
            font-size: 1.6em;
            margin-left: 2em;
        }
    }
    }
    &__link{
        text-decoration: none;
    }
}